$color-pink: #fb2e86;
$color-red: #fb2448;
$color-blue: #2f1ac4;
$color-sky-blue: #f3f9ff;
$color-navy-blue: #151875;
$color-off-navy-blue: #3f509e;
$color-purple: #7e33e0;
$color-off-purple: #9f63b5;
$color-pantone-purple: #e0d3f5;
